/* 
    Created on : Jul 30, 2015, 12:46:39 PM
    Author     : Fornax
*/

.file-container{
	position: absolute;
	top: 100px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
	border: none;
}

.file-container-frame{
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
}

#listNavigator{
	position: absolute;
	left: 0;
	right: 0;
	top: -100px;
	height: 58px;
	background-color: #000;
	border-bottom: 2px ridge #9FCF6C;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 1000;
}

#listNavigatorItems{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	border: none;
	padding: 0 40px;
	z-index: 1001;
	
}

.listItem{
	display: inline-block;
	position: relative;
	height: 92%;
	width: 100px;
	margin-right: 5px;
	text-align: center;
	border: #333 solid 2px;
	font-size: 12px;
	overflow: hidden;
	cursor: pointer;
}

.listItemThumbnail{
	position: relative;
	max-width: 100%;
	max-height: 74%;
	margin: 0;
}

#arrow-left{
	position: fixed;
	height: 58px;
	width: 25px;
	left: 0;
	z-index: 1002;
}

#arrow-right{
	position: fixed;
	height: 58px;
	width: 25px;
	right: 0;
	z-index: 1002;
}