{{define "email_confirm"}}<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" "E-mail verification"}}
		{{template "user_style" .}}
	</head>
	<body>
		{{template "page_top" .}}

		<div class="page_content">
			<div class="limit_width">
				{{if eq .Other "success"}}
				<h1>Success!</h1>
				<p>
					Your account's e-mail address has been updated.
				</p>
				{{else if eq .Other "not_found"}}
				<h1>E-mail change failed</h1>
				<p>
					This e-mail change request does not exist or has expired.
					Please try again if you still want to change your e-mail
					address.
				</p>
				{{else}}
				<h1>Error</h1>
				<p>
					Something went wrong while processing this request. Please
					try again later.
				</p>
				{{end}}
			</div>
		</div>
		{{template "page_bottom" .}}
		{{template "analytics"}}
	</body>
</html>
{{end}}
