{{define "login"}}
<!DOCTYPE html>
<html>
	<head>
		{{template "meta_tags" "Login"}}
		<script type="text/javascript">var apiEndpoint = '{{.APIEndpoint}}';</script>
	</head>
	<body>
		<div id='body' class="body">
			{{template "menu" .}}

			<h1>Log in to your PixelDrain account</h1>
			<div id="submit_result"></div>
			<form onSubmit="return submitForm();" class="highlight_dark border_top border_bottom">
				<table style="margin-left: auto; margin-right: auto;">
					<tr>
						<td>Username</td>
						<td><input id="username" name="username" type="text" autocomplete="username" value=""/></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input id="password" name="password" type="password" autocomplete="current-password"/></td>
					</tr>
					<tr>
						<td colspan=2 style="text-align: right;"><input type="submit" value="Login" class="button_highlight"/></td>
					</tr>
				</table>
			</form>
			<br/>
			If you don't have a PixelDrain account yet, you can <a href="/register">register here</a>. No e-mail address is required.<br/>
			{{template "footer"}}
		</div>

		<script type="text/javascript">
		function submitForm(){
			var req = new XMLHttpRequest();
			req.onreadystatechange = function(){
				if (this.readyState === 4) {
					var response = JSON.parse(req.responseText);
					var resultDiv = document.getElementById("submit_result");
					if (response.success) {
						resultDiv.className = "border_top border_bottom highlight_green";
						resultDiv.innerHTML = 'Success! Proceeding to user portal...<br/>'
							+'<a href="/user">Click here if you are not redirected automatically</a>';
						window.location.href = "/user";
					} else {
						resultDiv.className = "border_top border_bottom highlight_red";
						resultDiv.innerHTML = response.message;
					}

					console.log(response);
				}
			}

			var data = new FormData();
			data.append("username", document.getElementById("username").value);
			data.append("password", document.getElementById("password").value);

			req.open("POST", apiEndpoint+"/user/login", true);
			req.send(data);

			return false;
		}
		</script>
		{{template "analytics"}}
	</body>
</html>
{{end}}
