{{define "user_settings"}}<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" .User.Username}}
		{{template "user_style" .}}
		<script>var apiEndpoint = '{{.APIEndpoint}}';</script>
	</head>

	<body>
		{{template "page_top" .}}
		<h1>{{.Title}}</h1>
		<div class="page_content"><div class="limit_width">
			{{template "form" .Other.PasswordForm}}
			{{template "form" .Other.EmailForm}}
			{{template "form" .Other.UsernameForm}}
		</div></div>
		{{template "page_bottom" .}}
		{{template "analytics"}}
	</body>
</html>
{{end}}
