{{define "user_home"}}<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" .User.Username}}
		{{template "user_style" .}}
		<script>var apiEndpoint = '{{.APIEndpoint}}';</script>
	</head>

	<body>
		{{template "page_top" .}}

		<h1>Welcome home, {{.User.Username}}!</h1>

		<div class="page_content">
			<div class="limit_width">
				<h2>Account information</h2>
				<ul>
					<li>Username: {{.User.Username}}</li>
					<li>E-mail address: {{.User.Email}}</li>
					<li>
						Supporter status:
						{{if eq .User.Subscription ""}}
							Not a pixeldrain supporter<br/>
							<a href="https://www.patreon.com/pixeldrain">Learn how to support pixeldrain</a>.
						{{else}}
							{{if eq .User.Subscription "patreon_1"}}
								Level 1 Patreon supporter. Benefits:
								<ul>
									<li>No ads when viewing files</li>
								</ul>
							{{else if eq .User.Subscription "patreon_2"}}
								Level 2 Patreon supporter. Benefits:
								<ul>
									<li>No ads when viewing files</li>
									<li>No ads on uploaded files</li>
									<li>2-month file expiry</li>
								</ul>
							{{else if eq .User.Subscription "patreon_3"}}
								Level 3 Patreon supporter. Benefits:
								<ul>
									<li>No ads when viewing files</li>
									<li>No ads on uploaded files</li>
									<li>6-month file expiry</li>
								</ul>
							{{else if eq .User.Subscription "patreon_4"}}
								Level 4 Patreon supporter. Benefits:
								<ul>
									<li>No ads when viewing files</li>
									<li>No ads on uploaded files</li>
									<li>No file expiry</li>
								</ul>
							{{end}}
						{{end}}
					</li>
				</ul>
				<a href="/user/settings" class="button button_highlight">Change account settings</a>
				<h2>Navigation</h2>
				<a href="/" class="button">Upload files</a>
				<a href="/user/filemanager#files" class="button">My files</a>
				<a href="/user/filemanager#lists" class="button">My lists</a>
			</div>
		</div>

		{{template "page_bottom" .}}

		{{template "analytics"}}
	</body>
</html>
{{end}}
