{{define "user_home"}}<!DOCTYPE html>
<html>
	<head>
		{{template "meta_tags" .Username}}
		{{template "user_style" .}}
		<script type="text/javascript">var apiEndpoint = '{{.APIEndpoint}}';</script>
	</head>

	<body>
		<div id='body' class="body">
			{{template "menu" .}}
			<h1>Welcome home, {{.Username}}!</h1>
			<hr/>
			<h2>Your most recently uploaded files:</h2>
			<div class="highlight_dark border_top border_bottom">
				{{$files := .PixelAPI.UserFiles 0 18}}
				{{range $files.Files}}
					<a class="file_button" href="/u/{{.ID}}" target="_blank">
						<img src="{{$.APIEndpoint}}/file/{{.ID}}/thumbnail" alt="{{.Name}}" />
						<span style="color: var(--highlight_color);">{{.Name}}</span>
						<br/>
						{{.DateUpload.Format "2006-01-02 15:04:05"}}
					</a>
				{{end}}
				<br/>
				<a href="/user/files" class="button">...All my files</a>
			</div>
			<br/>
			<h2>Your most recently created lists:</h2>
			<div class="highlight_dark border_top border_bottom">
				{{$lists := .PixelAPI.UserLists 0 18}}
				{{range $lists.Lists}}
					<a class="file_button" href="/l/{{.ID}}" target="_blank">
						<img src="{{$.APIEndpoint}}/list/{{.ID}}/thumbnail" alt="{{.Title}}" />
						<span style="color: var(--highlight_color);">{{.Title}}</span>
						({{.FileCount}} Files)
						<br/>
						{{.DateCreated.Format "2006-01-02 15:04:05"}}
					</a>
				{{end}}
				<br/>
				<a href="/user/lists" class="button">...All my lists</a>
			</div>
			<hr/>

			{{template "footer"}}
		</div>
		{{template "analytics"}}
	</body>
</html>
{{end}}
