{{define "user_settings"}}<!DOCTYPE html>
<html>
	<head>
		{{template "meta_tags" .Username}}
		{{template "user_style" .}}
		<script type="text/javascript">var apiEndpoint = '{{.APIEndpoint}}';</script>
	</head>

	<body>
		{{template "page_top" .}}
		<h1>User configuration</h1>
		<div class="page_content"><div class="limit_width">

			<p>What would you like to do?</p>
			<ul>
				<li><a href="/user/change_password">Change my password</a></li>
			</ul>

		</div></div>
		{{template "page_bottom" .}}
		{{template "analytics"}}
	</body>
</html>
{{end}}
