{{define "404"}}<!DOCTYPE html>
<html>
	<head>
		{{template "meta_tags" "Not Found"}}
		{{template "user_style" .}}
	</head>

	<body>
		<div id='body' class="body">
			{{template "menu" .}}
			<br/>
			<h1>This page does not exist!</h1>
			If you came here by a link from this very same website you can tell
			me about it on <a href="https://twitter.com/Fornax96">twitter</a>.
			<br/><br/>
			Either way, there's nothing to see here, so you'll have to
			<a href='/'>head over to the home page</a>.
			<br/>
			<br/>
			Bye!
			{{template "footer"}}
		</div>
		{{template "analytics"}}
	</body>
</html>
{{end}}
