{{define "404"}}<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" "Not Found"}}
		{{template "user_style" .}}
	</head>

	<body>
		{{template "page_top" .}}
		<h1>This page does not exist!</h1>
		<div class="page_content"><div class="limit_width">
			<p>
				If you came here by a link from this very same website you can
				tell me about it on
				<a href="https://twitter.com/Fornax96">twitter</a>.
			</p>
			<p>
				Either way, there's nothing to see here, so you'll have to
				<a href='/'>head over to the home page</a>.
			</p>
			<p>
				Bye!
			</p>
		</div></div>
		{{template "page_bottom" .}}
		{{template "analytics"}}
	</body>
</html>
{{end}}
