{{define "451"}}<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" "451, Unavailable For Legal Reasons"}}
	</head>

	<body>
		{{template "page_top" .}}
		<header>
			<h1>451, Unavailable For Legal Reasons</h1>
		</header>
		<div id="page_content" class="page_content">
			<section>
				<p>
					Hello. This file has received an abuse report and has been taken
					down. It cannot be shared anymore.
				</p>
			</section>
		</div>
		{{template "page_bottom" .}}
		{{template "analytics"}}
	</body>
</html>
{{end}}
