{{define "451"}}<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" "451, Unavailable For Legal Reasons"}}
		{{template "user_style" .}}
	</head>

	<body>
		{{template "page_top" .}}
		<div class="checkers inset">
			<h1>451, Unavailable For Legal Reasons</h1>
		</div>
		<div class="limit_width">
			<p>
				Hello. This file has received an abuse report and has been taken
				down. It cannot be shared anymore.
			</p>
		</div>
		{{template "page_bottom" .}}
		{{template "analytics"}}
	</body>
</html>
{{end}}
