{{define "500"}}<!DOCTYPE html>
<html>
	<head>
		{{template "meta_tags" "500, Internal Server Error"}}
		{{template "user_style" .}}
	</head>

	<body>
		<div id='body' class="body">
			{{template "menu" .}}
			<br/>
			<h1>You broke pixeldrain</h1>
			<p>
				Great job.
			</p>
			<p>
				Just kidding, something went wrong on the pixeldrain server and
				it's my fault. I'll soon be notified of the problem and will
				take a look at it. You can try again in a few minutes (or
				hours), or go back to the <a href='/'>home page</a> and start over.
			</p>
			{{template "footer"}}
		</div>
		{{template "analytics"}}
	</body>
</html>
{{end}}
