{{define "500"}}<!DOCTYPE html>
<html>
	<head>
		{{template "meta_tags" "500, Internal Server Error"}}
		{{template "user_style" .}}
	</head>

	<body>
		<h1>You broke pixeldrain</h1>
		{{template "page_top" .}}
		<div class="page_content"><div class="limit_width">
			<p>
				Great job.
			</p>
			<p>
				Just kidding, something went wrong on the pixeldrain server and
				it's my fault. I'll soon be notified of the problem and will
				take a look at it. You can try again in a few minutes (or
				hours), or go back to the <a href='/'>home page</a> and start over.
			</p>
		</div></div>
		{{template "page_bottom" .}}
		{{template "analytics"}}
	</body>
</html>
{{end}}
