{{define "admin"}}
<!DOCTYPE html>
<html lang="en">
	{{if and .Authenticated .User.IsAdmin}}
		<head>
			{{template "meta_tags" "Administrator panel"}}
			{{template "user_style" .}}

			<script>
			window.api_endpoint = '{{.APIEndpoint}}';
			window.highlight_color = '#{{.Style.HighlightColor.RGB}}';
			</script>
			<link rel='stylesheet' href='/res/svelte/admin_panel.css'>
			<script defer src='/res/svelte/admin_panel.js'></script>
		</head>
		<body>
			{{template "page_top" .}}
			<h1>Admin Panel</h1>
			<div id="page_content" class="page_content"></div>
			{{template "page_bottom" .}}
		</body>
	{{else}}
		<head>
			{{template "meta_tags" "Administrator panel"}}
			{{template "user_style" .}}
		</head>
		<body>
			{{template "page_top" .}}
			<div class="page_content">;-)</div>
			{{template "page_bottom" .}}
		</body>
	{{end}}
</html>
{{end}}
