{{ define "ad_headers" }}
	{{ if eq .Other.AdBannerType 3 }}
	<script type="text/javascript">
	!function(n){var t,e=function(n,t){var e=[["a","e","i","o","u","y"],["b","c","d","f","g","h","j","k","l","m","n","p","q","r","s","t","v","w","x","y","z"]];if(t)for(var r=0;r<=t.length-1;r++)n=n*t.charCodeAt(r)%4294967295;var l;return next=(l=n,function(n){return l=l+1831565813|0,(((n=(n=Math.imul(l^l>>>15,1|l))+Math.imul(n^n>>>7,61|n)^n)^n>>>14)>>>0)/Math.pow(2,32)}),function(n,t){for(var r=[],l=null,o=0;o<=n-1;o++){var a=void 0;null===l?a=e[0].concat(e[1]):1==l?(a=e[0],l=0):(a=e[1],l=1);var u=a[Math.floor(next()*a.length)];r.push(u),null===l&&(l=-1!=e[0].indexOf(u)?0:1)}return r.push("."+t),r.join("")}}((t=new Date,(t/=1e3)-t%1209600),"_fa7cdd4c68507744")(8,"xyz");if(null===n)console.log("https://"+e);else{var r=n.createElement("script");r.src="https://"+e+"/main.js",(n.body||n.head).appendChild(r)}}("undefined"!=typeof document?document:null);
	</script>
	{{ end }}
{{ end }}

{{ define "banner_ads"}}
	{{ if eq .Other.AdBannerType 1 }}
		<!-- scrolling="no" is not allowed by the W3C, but overflow: hidden doesn't work in chrome, so I have no choice -->
		<iframe class="sponsors_banner"
			data-aa="73974"
			src="//ad.a-ads.com/73974?size=728x90&background_color={{.Style.Layer2Color.RGB}}&text_color={{.Style.TextColor.RGB}}&title_color={{.Style.HighlightColor.RGB}}&title_hover_color={{.Style.HighlightColor.RGB}}&link_color={{.Style.HighlightColor.RGB}}&link_hover_color={{.Style.HighlightColor.RGB}}"
			style="width:728px; height:90px; border:none; padding:0; overflow:hidden;"
			scrolling="no">
		</iframe>
	{{ else if eq .Other.AdBannerType 13 }}
		<!-- Amarula electronics -->
		<a class="sponsors_banner" style="display: inline-block; width: 576px; height: 96px;" href="/click/DtZ3hHT9?target=https%3A%2F%2Fwww.amarula-electronics.com">
			<img src="/res/img/misc/banner_as.png" style="width: 100%; height: 100%" />
		</a>
	{{else if eq .Other.AdBannerType 2}}
		<!-- Patreon -->
		<div style="text-align: center; line-height: 22px; font-size: 18px;">
			<div style="margin: 4px 8px; display: inline-block; vertical-align: middle;">
				Pixeldrain needs money to survive<br/>
				<a href="/click/7wy9gg2J?target=%2Fsubscribe" class="button button_highlight">
					Support me on Patreon and get some neat perks
				</a>
			</div>
			<div style="margin: 4px 8px; display: inline-block; vertical-align: middle; text-align: left;">
				No ads when viewing files<br/>
				No ads on your uploaded files<br/>
				Longer file retention<br/>
			</div>
		<div>
	{{else if eq .Other.AdBannerType 3}}
		<!-- Adshares -->
		<div class="_fa7cdd4c68507744 sponsors_banner" data-zone="d8764be36c134d3d807abb2a073dc010" style="width:728px;height:90px;display: inline-block;margin: 0 auto"></div>
	{{else if eq .Other.AdBannerType 4}}
		<!-- Amarula Jobs -->
		<a class="sponsors_banner" style="display: inline-block; width: 576px; height: 96px;" href="/click/DtZ3hHT9?target=https%3A%2F%2Fwww.amarulasolutions.com/jobs">
			<img src="/res/img/misc/banner_amarula_jobs.png" style="width: 100%; height: 100%" />
		</a>
	{{ else if eq .Other.AdBannerType 6 }}
		<div class="sponsors_banner" style="display: inline-block; width: 728px; height: 90px;">
			<script type="text/javascript">
			atOptions = {
				'key' : 'a62692cf48c3969d426a09c868ae13f7',
				'format' : 'iframe',
				'height' : 90,
				'width' : 728,
				'params' : {}
			};
			document.write('<scr' + 'ipt type="text/javascript" defer src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedisplaycontent.com/a62692cf48c3969d426a09c868ae13f7/invoke.js"></scr' + 'ipt>');
			</script>
		</div>
	{{ else if eq .Other.AdBannerType 7 }}
		<a class="sponsors_banner" style="display: inline-block; width: 728px; height: 90px;" href="/click/MdUXxSov?target=https%3A%2F%2Fbrave.com%2Fpix009">
			<img src="/res/img/misc/brave-728x90.png" style="width: 100%; height: 100%" />
		</a>
	{{ else if eq .Other.AdBannerType 8 }}
		<div style="text-align: center; line-height: 1.4em; font-size: 22px;">
			<img src="/res/img/pixeldrain_128.png" style="height: 2.4em; vertical-align: middle; margin: 4px;"/>
			<div style="margin: 4px; display: inline-block; vertical-align: middle;">
				Are your files expiring too quickly?<br/>
				<a href="/click/7wy9gg2J?target=%2F%23pro" class="button button_highlight">Pixeldrain Pro: Only €2 per month</a>
			</div>
		</div>
	{{ else if eq .Other.AdBannerType 9 }}
		<div style="text-align: center; line-height: 1.4em; font-size: 22px;">
			<img src="/res/img/pixeldrain_128.png" style="height: 2.4em; vertical-align: middle; margin: 4px;"/>
			<div style="margin: 4px; display: inline-block; vertical-align: middle;">
				Are your files too large to share?<br/>
				<a href="/click/7wy9gg2J?target=%2F%23pro" class="button button_highlight">Pixeldrain Pro: Only €2 per month</a>
			</div>
		</div>
	{{ else if eq .Other.AdBannerType 10 }}
		<div style="text-align: center; line-height: 1.4em; font-size: 22px;">
			<img src="/res/img/pixeldrain_128.png" style="height: 2.4em; vertical-align: middle; margin: 4px;"/>
			<div style="margin: 4px; display: inline-block; vertical-align: middle;">
				Are you tired of advertisements?<br/>
				<a href="/click/7wy9gg2J?target=%2F%23pro" class="button button_highlight">Pixeldrain Pro: Only €2 per month</a>
			</div>
		</div>
	{{ else if eq .Other.AdBannerType 11 }}
		<div style="text-align: center; line-height: 1.4em; font-size: 22px;">
			<img src="/res/img/pixeldrain_128.png" style="height: 2.4em; vertical-align: middle; margin: 4px;"/>
			<div style="margin: 4px; display: inline-block; vertical-align: middle;">
				Concerned about your online privacy?<br/>
				<a href="/click/7wy9gg2J?target=%2F%23pro" class="button button_highlight">Pixeldrain Pro: Only €2 per month</a>
			</div>
		</div>
	{{ else if eq .Other.AdBannerType 12 }}
		<!-- Clickadu -->
		<div class="sponsors_banner" style="display: inline-block; width: 300px; height: 100px;">
			<script data-cfasync="false" type="text/javascript" src="//myolnyr5bsk18.com/lv/esnk/1846778/code.js" async id="__clb-1846778"></script>
		</div>
	{{ else if eq .Other.AdBannerType 14 }}
		<!-- Ads.plus -->
		<!-- This tag library should be placed in the head section of the page -->
		<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
		<script>
		window.googletag = window.googletag || {cmd: []};
		googletag.cmd.push(function() {
			googletag.defineSlot('/21673142571/299__pixeldrain.com__default__728x90_1', [728, 90], 'div-gpt-ad-pixeldraincom728x90_1').addService(googletag.pubads());
			googletag.pubads().collapseEmptyDivs();
			googletag.enableServices();
		});
		</script>
		<!-- This is the tag for the unit and should be placed in the respective ad spot in the body part of the page -->
		<!-- /21673142571/299__pixeldrain.com__default__728x90_1 -->
		<div id='div-gpt-ad-pixeldraincom728x90_1' class="sponsors_banner" style='width: 728px; height: 90px;'>
			<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-pixeldraincom728x90_1'); });
			</script>
		</div>
	{{ else if eq .Other.AdBannerType 15 }}
		<!-- AuctionX Display platform tag START -->
		<div id="27517x728x90x4605x_ADSLOT1" clickTrack="%%CLICK_URL_ESC%%" style="display: block; margin: auto;"></div>
		<script type="text/javascript" async src="https://served-by.pixfuture.com/www/delivery/headerbid.js" slotId="27517x728x90x4605x_ADSLOT1" refreshTime="5" refreshInterval="60"></script>
		<!-- AuctionX Display platform tag END -->
	{{ else if eq .Other.AdBannerType 16 }}
		<div style="text-align: center; line-height: 1.4em; font-size: 22px;">
			<a href="https://pixeldrain.com/vouchercodes/" class="button button_highlight" style="margin: 8px;">
				<i class="icon">shopping_cart</i>
				Click here for online shopping discounts!
				<i class="icon">shopping_cart</i>
			</a>
		</div>
	{{ else if eq .Other.AdBannerType 17 }}
		<div style="text-align: center; line-height: 1.4em; font-size: 22px;">
			<a href="https://pixeldrain.com/vouchercodes/" class="button button_highlight" style="margin: 8px;">
				<i class="icon">shopping_cart</i>
				Check our online shopping discounts!
				<i class="icon">shopping_cart</i>
			</a>
		</div>
	{{ else if eq .Other.AdBannerType 18 }}
		<div style="text-align: center; line-height: 1.4em; font-size: 22px;">
			<a href="https://pixeldrain.com/vouchercodes/" class="button button_highlight" style="margin: 8px;">
				<i class="icon">shopping_cart</i>
				Free coupon codes for online shopping!
				<i class="icon">shopping_cart</i>
			</a>
		</div>
	{{ end }}
{{ end }}

{{ define "floating_ads"}}
	{{ if eq .Other.AdFloaterType 3 }}
		<!-- AdMaven -->
		<script data-cfasync="false" async src="//d227cncaprzd7y.cloudfront.net/?acncd=905608"></script>
	{{ else if eq .Other.AdFloaterType 2 }}
		<!-- AdSterra -->
		<script type='text/javascript' async src='//concoursestrickenpuppy.com/4c/4d/90/4c4d90a2e79b0e049f811a663f3e3c07.js'></script>
	{{ else if eq .Other.AdFloaterType 1 }}
		<!-- PropellerAds -->
		<script type="text/javascript" src="//optyruntchan.com/400/4189877" data-cfasync="false" async="async"></script>
		</script>
	{{ end }}

	{{ if eq .Other.AdPopupType 1 }}
		<script data-cfasync="false" type="text/javascript" async src="//depirsmandk5.com/t/9/fret/meow4/1846775/brt.js"></script>
	{{ else if eq .Other.AdPopupType 2 }}
		<script>
		window.addEventListener("load", () => {
			(function(s,u,z,p){
				s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);
			})(
				document.createElement('script'),
				'https://iclickcdn.com/tag.min.js',
				3750089,
				document.body||document.documentElement,
			)
		})
		</script>
	{{ end }}
{{ end }}
