{{define "apidoc"}}
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>PixelDrain ~ API Documentation</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="/res/style/layout.css"/>
		<link rel="stylesheet" href="/res/style/apidoc.css"/>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>
		<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css"/>
		<link rel="shortcut icon" href="/res/img/tray32.png"/>
		<meta name="theme-color" content="#9FCF6C"/>
		<link rel="icon" sizes="180x180" href="/res/img/pixeldrain.png"/>
		<link rel="icon" sizes="256x256" href="/res/img/pixeldrain_big.png"/>
		
		{{template "bgpattern"}}

		<meta name="description" content="PixelDrain is a free file sharing service, you 
		      can upload any file and you will be given a shareable link right away. 
		      PixelDrain also supports previews for images, videos, audio, PDFs and much more.
		      Uncensored, unmonitored and unmoderated."/>
		<meta property="og:type" content="website" />
		<meta property="og:title" content="API Documentation ~ PixelDrain" />
		<meta property="og:site_name" content="PixelDrain" />
		<meta property="og:description" content="Instant file and screenshot sharing." />
		<meta property="og:url" content="http://pixeldra.in/" />
		<meta property="og:image" content="/res/img/pixeldrain_big.png" />
		<meta property="og:image:type" content="image/png" />
	</head>

	<body>
		<div id='body' class="body">
			{{template "menu"}}
			<h1>PixelDrain API Documentation</h1>
			<p>
				Welcome to the Pixeldrain API documentation.
				<br/>
				The methods for uploading and retrieving files don't require an 
				API key. The methods for creating and retrieving lists also 
				don't require an API key. All methods which delete or modify a 
				resource <strong>do</strong> require an API key.
				<br/>
				<br/>
				Though API keys have not been implemented yet.
			</p>
			
			<h2>File Methods</h2>
			{{template "api-file-post"}}
			{{template "api-file-id-get"}}
			{{template "api-file-id-download-get"}}
			{{template "api-file-id-info-get"}}
			{{template "api-file-id-thumbnail-get"}}
			{{template "api-file-id-delete"}}
			
			<h2>List Methods</h2>
			{{template "api-list-post"}}
			{{template "footer"}}
		</div>
		{{template "analytics"}}
	</body>
</html>
{{end}}