{{define "apidoc"}}<!DOCTYPE html>
<html>
	<head>
		{{template "meta_tags" "API Documentation"}}
	</head>

	<body>
		<div id='body' class="body">
			{{template "menu" .}}
			<h1>PixelDrain API Documentation</h1>
			<p>
				Welcome to the Pixeldrain API documentation.
				<br/>
				The methods for uploading and retrieving files don't require an
				API key. The methods for creating and retrieving lists also
				don't require an API key. All methods which delete or modify a
				resource <strong>do</strong> require an API key.
				<br/>
				<br/>
				Though API keys have not been implemented yet, so you can't use
				those methods yet.
			</p>
			<p>
				Some JSON responses include fields which end in "_href" (some
				people don't know this, but "href" stands for "Hypertext
				Reference", the more you know). These point to different places
				in the API, which you can retrieve with a GET request. The path
				is to be appended to the API URL, so "/file/someid/thumbnail"
				becomes "{{apiUrl}}/file/someid/thumbnail".
			</p>
			<p>
				The base URL for the API is "{{apiUrl}}", all paths below are
				relative to that URL.
			</p>

			<h2>File Methods</h2>
			{{template "api-file-post"}}
			{{template "api-file-id-get"}}
			{{template "api-file-id-download-get"}}
			{{template "api-file-id-info-get"}}
			{{template "api-file-id-thumbnail-get"}}
			{{template "api-file-id-delete"}}

			<h2>List Methods</h2>
			{{template "api-list-post"}}
			{{template "api-list-get"}}

			{{template "footer"}}
		</div>
		{{template "analytics"}}
	</body>
</html>
{{end}}
