{{ define "apps" }}<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" "Apps"}}
		{{template "user_style" .}}
	</head>

	<body>
		{{template "page_top" .}}
		<h1>Apps</h1>
		<div class="page_content"><div class="limit_width">
			<h2>ShareX (Windows only)</h2>
			<p>
				<img src="/res/img/sharex.png" style="float: left; height: 5em; margin: 0.5em;" />
			</p>
			<p>
				ShareX is a Screen capture, file sharing and productivity tool.
				Pixeldrain is supported as a custom uploader. You can <a
				href="https://getsharex.com/" target="_blank">get ShareX
				here</a>.
			</p>
			<p>
				Here you can download our custom ShareX uploader which uses
				pixeldrain to upload your files.
			</p>

			<div class="highlight_dark">
				<a href="/misc/sharex/pixeldrain.com.sxcu" class="button button_highlight">
					<i class="icon small">save</i>
					Download ShareX Uploader
				</a><br/>

				{{if .Authenticated}}
				This uploader is configured to upload files to your personal
				pixeldrain account. Do not share the configuration file with
				anyone, it contains your account credentials.
				{{else}}
				<a href="/login">Log in</a> to use ShareX with your own
				pixeldrain account. {{end}}
			</div>

			<h3>Setting pixeldrain as default uploader</h3>
			<p>
				Download the uploader config and choose 'Open file'<br/>
				<img src="/res/img/sharex_download.png" style="max-width: 100%;" /><br/>
				Set pixeldrain.com as active uploader. Choose Yes<br/>
				<img src="/res/img/sharex_default.png" style="max-width: 100%;" /><br/>
			</p>

			<h2>pdup (Linux only)</h2>
			<p>
				pdup is a little bash script for uploading files to pixeldrain
				from the terminal. It's available <a
				href="https://github.com/Fornax96/pdup" target="_blank">from
				GitHub</a>.
			</p>

			<h2>More apps</h2>
			<p>
				If you know more open source apps which work with pixeldrain
				please send them to
				<a href="mailto:support@pixeldrain.com">support@pixeldrain.com</a>.
			</p>
		</div></div>
		{{template "page_bottom" .}}
		{{template "analytics"}}
	</body>
</html>
{{ end }}
