{{ define "apps" }}<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" "Apps"}}

		<style>
			.specs {
				text-align: center;
				border-bottom: 1px solid var(--separator);
			}
		</style>
	</head>

	<body>
		{{template "page_top" .}}
		<header>
			<h1>Apps</h1>
		</header>
		<div id="page_content" class="page_content">
			<section class="highlight_border" style="text-align: initial">
				<h2>ShareX</h2>
				<div class="specs">
					Platform: Windows | License: GPL-3.0 |
					<a href="https://getsharex.com">Website</a> |
					<a href="https://github.com/ShareX/ShareX">GitHub</a>
				</div>
				<p>
					<img src="/res/img/sharex.png" style="float: right; height: 6em; margin: 0.5em;" />
				</p>
				<p>
					ShareX is a Screen capture, file sharing and productivity tool.
					Pixeldrain is supported as a custom uploader. You can <a
					href="https://getsharex.com/">get ShareX
					here</a>.
				</p>
				<p>
					You can download a custom ShareX uploader profile which uses
					your pixeldrain account for uploading files on the <a
					href="/user/connect_app?app=sharex">account apps page</a>.
				</p>

				<h3>Setting pixeldrain as default uploader</h3>
				<p>
					Download the uploader config and choose 'Open file'<br/>
					<img src="/res/img/sharex_download.png" style="max-width: 100%;" /><br/>
					Set pixeldrain.com as active uploader. Choose Yes<br/>
					<img src="/res/img/sharex_default.png" style="max-width: 100%;" /><br/>
				</p>
			</section>
			<br/>
			<section class="highlight_border" style="text-align: initial">
				<h2>Drainy</h2>
				<div class="specs">
					Platform: Windows, Linux, Android |
					License: MIT |
					<a href="https://github.com/ManuelReschke/go-pd-gui">GitHub</a>
				</div>
				<p>
					<img src="/res/img/drainy.png" style="float: right; height:
					6em; margin: 0.5em;" /> A simple tool for uploading files to
					pixeldrain. Supports uploading to accounts, copying download
					links to the clipboard and has an upload history screen.
				</p>
			</section>
			<br/>
			<section class="highlight_border" style="text-align: initial">
				<h2 style="clear: both;">Pixeldrain Android</h2>
				<div class="specs">
					Platform: Android |
					License: None |
					<a href="https://github.com/wimvdputten/Pixeldrain_android">GitHub</a>
				</div>
				<p>
					An Android app for uploading and sharing files on
					pixeldrain. You can get a compiled APK package from the <a
					href="https://github.com/wimvdputten/Pixeldrain_android/releases">
					GitHub releases page</a>.
				</p>
			</section>
			<br/>
			<section class="highlight_border" style="text-align: initial">
				<h2>go-pd</h2>
				<div class="specs">
					Platform: Linux, Mac OS, Windows (CLI) |
					License: MIT |
					<a href="https://github.com/ManuelReschke/go-pd">GitHub</a>
				</div>
				<p>
					go-pd is a command line interface and client library for
					pixeldrain created by Manuel Reschke. The CLI supports uploading
					files anonymously, and uploading to user accounts. The client
					library supports uploading, downloading and deleting files,
					creating and viewing lists and user accounts. Compiled binaries
					are available on the <a
					href="https://github.com/ManuelReschke/go-pd/releases">
					GitHub releases page</a>.
				</p>
			</section>
			<br/>
			<section class="highlight_border" style="text-align: initial">
				<h2>go-pixeldrain</h2>
				<div class="specs">
					Platform: Linux, Mac OS, Windows (CLI) |
					License: MIT |
					<a href="https://jkawamoto.github.io/go-pixeldrain/">Website</a> |
					<a href="https://github.com/jkawamoto/go-pixeldrain">GitHub</a>
				</div>
				<p>
					go-pixeldrain is a command line interface for pixeldrain
					created by Junpei Kawamoto. You can use it to upload and
					download files and directories from your terminal. Compiled
					binaries are available on the <a
					href="https://github.com/jkawamoto/go-pixeldrain/releases">
					GitHub releases page</a>.
				</p>
			</section>
			<br/>
			<section class="highlight_border" style="text-align: initial">
				<h2>pdup</h2>
				<div class="specs">
					Platform: Linux, BSD, Mac OS (CLI) |
					License: None |
					<a href="https://github.com/Fornax96/pdup">GitHub</a>
				</div>
				<p>
					pdup is a little bash script for uploading files to pixeldrain
					from the terminal. It's available <a
					href="https://github.com/Fornax96/pdup">from
					GitHub</a>.
				</p>
			</section>

			<section>
				<h2>More apps</h2>
				<p>
					If you know more open source apps which work with pixeldrain
					please send them to
					<a href="mailto:support@pixeldrain.com">support@pixeldrain.com</a>.
				</p>
			</section>
		</div>
		{{template "page_bottom" .}}
		{{template "analytics"}}
	</body>
</html>
{{ end }}
