{{define "donation"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" "Thank you for supporting pixeldrain!"}}
		{{template "user_style" .}}
	</head>
	<body>
		{{template "page_top" .}}
		<div class="page_content"><div class="limit_width">
			<br/>
			{{$success := .URLQuery.Get "success"}}
			{{if eq $success "true"}}
				{{if .Authenticated}}
					Dear {{.Username}},
					<br/><br/>
					Thank you for your donation. I really appreciate it!
					<br/><br/>
					Sincerely,<br/>
					Fornax
				{{else}}
					Thank you for your donation! You are amazing.
					<br/><br/>
					Sincerely,<br/>
					Fornax
				{{end}}
			{{else}}
				It seems you have canceled your donation. I don't blame you, money is expensive :)
				<br/><br/>
				If this was not your intention, you're welcome to try again by clicking this button:
				<a class="button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=WU49A5NHPAZ9G&source=url">Donate with PayPal</a>
				<br/><br/>
				Sincerely,<br/>
				Fornax
			{{end}}
		</div></div>
		{{template "page_bottom"}}
		{{template "analytics"}}
	</body>
</html>
{{end}}
