{{define "email_confirm"}}<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" "E-mail verification"}}
		{{template "user_style" .}}
	</head>
	<body>
		{{template "page_top" .}}

		{{if eq .Other "success"}}
			<header>
				<h1>Success!</h1>
			</header>
			<section>
				<p>
					Your account's e-mail address has been updated.
				</p>
			</section>
		{{else if eq .Other "not_found"}}
			<header>
				<h1>E-mail change failed</h1>
			</header>
			<section>
				<p>
					This e-mail change request does not exist or has expired.
					Please try again if you still want to change your e-mail
					address.
				</p>
			</section>
		{{else}}
			<header>
				<h1>Error</h1>
			</header>
			<section>
				<p>
					Something went wrong while processing this request. Please
					try again later.
				</p>
			</section>
		{{end}}

		{{template "page_bottom" .}}
		{{template "analytics"}}
	</body>
</html>
{{end}}
