{{define "file_not_found"}}<!DOCTYPE html>
<html>
	<head>
		{{template "meta_tags" "File Not Found"}}
		{{template "user_style" .}}
	</head>
	<body>
		<div id="body">
			{{template "menu"}}
			<h1>File not Found</h1>
			I'm sorry, but this file does not exist!<br/>
			It may have expired, or taken down by the owner.<br/>
			You can <a href='/'>Visit the homepage to upload your own files</a>.
			<br/><br/>
			It was fun having you, bye for now!
			<br/>
			{{template "footer"}}
		</div>
		{{template "analytics"}}
	</body>
</html>
{{end}}
