{{define "file_viewer_svelte"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{.Title}}</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{{ template "opengraph" .OGData }}

		{{ template "user_style" . }}

		<link rel="icon" sizes="32x32" href="/res/img/pixeldrain_32.png" />
		<link rel="icon" sizes="128x128" href="/res/img/pixeldrain_128.png" />
		<link rel="icon" sizes="152x152" href="/res/img/pixeldrain_152.png" />
		<link rel="icon" sizes="180x180" href="/res/img/pixeldrain_180.png" />
		<link rel="icon" sizes="192x192" href="/res/img/pixeldrain_192.png" />
		<link rel="icon" sizes="196x196" href="/res/img/pixeldrain_196.png" />
		<link rel="icon" sizes="256x256" href="/res/img/pixeldrain_256.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/res/img/pixeldrain_152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/res/img/pixeldrain_180.png" />
		<link rel="shortcut icon" sizes="196x196" href="/res/img/pixeldrain_196.png" />
		<meta name="theme-color" content="#220735"/>

		<script>
			window.api_endpoint = '{{.APIEndpoint}}';
			window.viewer_data = {{.Other}};
			window.user_authenticated = {{.Authenticated}};
		</script>

		<link rel='stylesheet' href='/res/svelte/file_viewer.css?v{{.CacheID}}'>
		<script defer src='/res/svelte/file_viewer.js?v{{.CacheID}}'></script>

		{{template "analytics"}}
	</head>

	<body id="body"></body>
</html>
{{end}}
