{{define "file_viewer"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{.Title}}</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{{template "user_style" .}}

		<link rel="icon" sizes="32x32" href="/res/img/pixeldrain_32.png" />
		<link rel="icon" sizes="128x128" href="/res/img/pixeldrain_128.png" />
		<link rel="icon" sizes="152x152" href="/res/img/pixeldrain_152.png" />
		<link rel="icon" sizes="180x180" href="/res/img/pixeldrain_180.png" />
		<link rel="icon" sizes="192x192" href="/res/img/pixeldrain_192.png" />
		<link rel="icon" sizes="196x196" href="/res/img/pixeldrain_196.png" />
		<link rel="icon" sizes="256x256" href="/res/img/pixeldrain_256.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/res/img/pixeldrain_152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/res/img/pixeldrain_180.png" />
		<link rel="shortcut icon" sizes="196x196" href="/res/img/pixeldrain_196.png" />
		<meta name="theme-color" content="#75AD38"/>

		<style>
		{{template `viewer.css`}}
		{{template `modal.css`}}
		</style>

		{{ template "opengraph" .OGData }}
	</head>

	<body>
		<div id="file_viewer" class="file_viewer">
			<div id="file_viewer_headerbar" class="highlight_1 file_viewer_headerbar">
				<button id="btn_toggle_toolbar" class="button_toggle_toolbar"><i class="icon">menu</i></button>
				<a href="/" id="button_home" class="button button_home">
					{{template `pixeldrain.svg` .}}
				</a>
				<div id="file_viewer_headerbar_title" class="file_viewer_headerbar_title">
					<div id="file_viewer_list_title"></div>
					<div id="file_viewer_file_title">loading...</div>
				</div>
				<!-- fullscreen button becomes visible on embedded viewer -->
				<button id="btn_fullscreen" class="btn_fullscreen" style="display: none;">
					<i class="icon" id="btn_fullscreen_icon">fullscreen</i>
				</button>
			</div>
			<div id="list_navigator" class="list_navigator"></div>
			<div id="file_viewer_window" class="file_viewer_window">
				<div id="toolbar" class="file_viewer_toolbar"><div><div>
					<div id="stat_views_label" class="toolbar_label">Views</div>
					<div id="stat_views" style="text-align: center;">N/A</div>
					<div id="stat_downloads_label" class="toolbar_label">Downloads</div>
					<div id="stat_downloads" style="text-align: center;">N/A</div>
					<div id="stat_size_label" class="toolbar_label">Size</div>
					<div id="stat_size" style="text-align: center;">N/A</div>

					<button id="btn_download" class="toolbar_button button_full_width">
						<i class="icon">save</i>
						<span>Download</span>
					</button>
					<button id="btn_download_list" class="toolbar_button button_full_width" style="display: none;">
						<i class="icon">save</i>
						<span>DL all files</span>
					</button>
					<button id="btn_copy" class="toolbar_button button_full_width">
						<i class="icon">content_copy</i>
						<span><u>C</u>opy link</span>
					</button>
					<button id="btn_share" class="toolbar_button button_full_width">
						<i class="icon">share</i>
						<span>Share</span>
					</button>
					<button id="btn_shuffle" class="toolbar_button button_full_width" style="display: none;" title="Randomize the order of the files in this list">
						<i class="icon">shuffle</i>
						<span>Shuffle &#x2610;</span>
					</button>
					<button id="btn_details" class="toolbar_button button_full_width">
						<i class="icon">help</i>
						<span>Deta<u>i</u>ls</span>
					</button>
					<hr/>
					<button id="btn_edit" class="toolbar_button button_full_width" style="display: none;">
						<i class="icon">edit</i>
						<span><u>E</u>dit</span>
					</button>
					<button id="btn_grab" class="toolbar_button button_full_width" style="display: none;" title="Copy this file to your own pixeldrain account">
						<i class="icon">save_alt</i>
						<span><u>G</u>rab file</span>
					</button>
					<button id="btn_embed" class="toolbar_button button_full_width" title="Include this file in your own webpages">
						<i class="icon">code</i>
						<span>E<u>m</u>bed</span>
					</button>
					<br/>

					{{ if and .Other.FileAdsEnabled .Other.UserAdsEnabled }}
					<hr/>
					Tired of ads?<br/>
					Files expiring too soon?<br/>
					<a class="button button_highlight" href="/click/7wy9gg2J?target=%2F%23pro">
						<svg style="float: left; width: 2em; height: 2em; fill: currentColor; margin-right: 4px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
							<g fill-rule="evenodd">
								<path d="M64.1102,0.1004 C44.259,0.1004 28.1086,16.2486 28.1086,36.0986 C28.1086,55.8884 44.259,71.989 64.1102,71.989 C83.9,71.989 100,55.8884 100,36.0986 C100,16.2486 83.9,0.1004 64.1102,0.1004"/>
								<polygon points=".012 95.988 17.59 95.988 17.59 .1 .012 .1"/>
							</g>
						</svg>
						Become a Patron!
					</a>
					{{ end }}

					<!-- This frame will load the download URL when a download button is pressed -->
					<iframe id="download_frame" style="display: none; width: 1px; height: 1px;"></iframe>
				</div></div></div>

				<div id="sharebar" class="file_viewer_sharebar">
					Share on:<br/>
					<button class="sharebar-button button_full_width" onclick="window.open('mailto:please@set.address?subject=File%20on%20pixeldrain&body=' + window.location.href);">
						{{template `email.svg` .}}<br/>E-Mail
					</button>
					<button class="sharebar-button button_full_width" onclick="window.open('https://www.reddit.com/submit?url=' + window.location.href);">
						{{template `reddit.svg` .}}<br/>Reddit
					</button>
					<button class="sharebar-button button_full_width" onclick="window.open('https://twitter.com/share?url=' + window.location.href);">
						{{template `twitter.svg` .}}<br/>Twitter
					</button>
					<button class="sharebar-button button_full_width" onclick="window.open('http://www.facebook.com/sharer.php?u=' + window.location.href);">
						{{template `facebook.svg` .}}<br/>Facebook
					</button>
					<button class="sharebar-button button_full_width" onclick="window.open('http://www.tumblr.com/share/link?url=' + window.location.href);">
						{{template `tumblr.svg` .}}<br/>Tumblr
					</button>
				</div>

				<div id="filepreview" class="file_viewer_file_preview">
					<div class="center" style="width: 100px; height: 100px;">{{template "spinner.svg" .}}</div>
				</div>
			</div>

			<div id="sponsors" class="sponsors">
				{{ if and .Other.FileAdsEnabled .Other.UserAdsEnabled }}
					{{if eq .Other.AdType 1}}
					<!-- Amarula electronics -->
					<a class="sponsors_banner" style="display: inline-block; width: 576px; height: 96px;" href="/click/DtZ3hHT9?target=https%3A%2F%2Fwww.amarula-electronics.com">
						<img src="/res/img/misc/banner_as.png" style="width: 100%; height: 100%" />
					</a>
					{{else if eq .Other.AdType 2}}
					<!-- Patreon -->
					<div style="text-align: center; line-height: 22px; font-size: 18px;">
						<div style="margin: 4px 8px; display: inline-block; vertical-align: middle;">
							Pixeldrain needs money to survive<br/>
							<a href="/click/7wy9gg2J?target=%2Fsubscribe" class="button button_highlight">
								Support me on Patreon and get some neat perks
							</a>
						</div>
						<div style="margin: 4px 8px; display: inline-block; vertical-align: middle; text-align: left;">
							No ads when viewing files<br/>
							No ads on your uploaded files<br/>
							Longer file retention<br/>
						</div>
					<div>
					{{else if eq .Other.AdType 3}}
					<!-- Soul Studio -->
					<a class="sponsors_banner" style="display: inline-block; width: 842px; height: 125px;" href="/click/RJRbh7Tn?target=https%3A%2F%2Fsoulstudio.nl%2Fonline-y">
						<img src="/res/img/misc/banner_soul_studio.png" style="width: 100%; height: 100%" />
					</a>
					{{else if eq .Other.AdType 4}}
					<!-- Amarula Jobs -->
					<a class="sponsors_banner" style="display: inline-block; width: 576px; height: 96px;" href="/click/DtZ3hHT9?target=https%3A%2F%2Fwww.amarulasolutions.com/jobs">
						<img src="/res/img/misc/banner_amarula_jobs.png" style="width: 100%; height: 100%" />
					</a>
					{{ else if eq .Other.AdType 8 }}
					<div style="text-align: center; line-height: 1.4em; font-size: 22px;">
						<img src="/res/img/pixeldrain_128.png" style="height: 2.4em; vertical-align: middle; margin: 4px;"/>
						<div style="margin: 4px; display: inline-block; vertical-align: middle;">
							Are your files expiring too quickly?<br/>
							<a href="/click/7wy9gg2J?target=%2F%23pro" class="button button_highlight">Pixeldrain Pro: Only €2 per month</a>
						</div>
					</div>
					{{ else if eq .Other.AdType 9 }}
					<div style="text-align: center; line-height: 1.4em; font-size: 22px;">
						<img src="/res/img/pixeldrain_128.png" style="height: 2.4em; vertical-align: middle; margin: 4px;"/>
						<div style="margin: 4px; display: inline-block; vertical-align: middle;">
							Are your files too large to share?<br/>
							<a href="/click/7wy9gg2J?target=%2F%23pro" class="button button_highlight">Pixeldrain Pro: Only €2 per month</a>
						</div>
					</div>
					{{ else if eq .Other.AdType 10 }}
					<div style="text-align: center; line-height: 1.4em; font-size: 22px;">
						<img src="/res/img/pixeldrain_128.png" style="height: 2.4em; vertical-align: middle; margin: 4px;"/>
						<div style="margin: 4px; display: inline-block; vertical-align: middle;">
							Are you tired of advertisements?<br/>
							<a href="/click/7wy9gg2J?target=%2F%23pro" class="button button_highlight">Pixeldrain Pro: Only €2 per month</a>
						</div>
					</div>
					{{ else if eq .Other.AdType 11 }}
					<div style="text-align: center; line-height: 1.4em; font-size: 22px;">
						<img src="/res/img/pixeldrain_128.png" style="height: 2.4em; vertical-align: middle; margin: 4px;"/>
						<div style="margin: 4px; display: inline-block; vertical-align: middle;">
							Concerned about your online privacy?<br/>
							<a href="/click/7wy9gg2J?target=%2F%23pro" class="button button_highlight">Pixeldrain Pro: Only €2 per month</a>
						</div>
					</div>
					{{ else }}
					<!-- scrolling="no" is not allowed by the W3C, but overflow: hidden doesn't work in chrome, so I have no choice -->
					<iframe class="sponsors_banner"
						data-aa="73974"
						src="//ad.a-ads.com/73974?size=728x90&background_color={{.Style.Layer1Color.RGB}}&text_color={{.Style.TextColor.RGB}}&title_color={{.Style.HighlightColor.RGB}}&title_hover_color={{.Style.HighlightColor.RGB}}&link_color={{.Style.HighlightColor.RGB}}&link_hover_color={{.Style.HighlightColor.RGB}}"
						style="width:728px; height:90px; border:none; padding:0; overflow:hidden;"
						scrolling="no">
					</iframe>
					{{ end }}
				{{ else if not .Other.UserAdsEnabled }}
				<div style="text-align: center; line-height: 1.3em; font-size: 13px;">
					Thank you for supporting pixeldrain!
				</div>
				{{ else if not .Other.FileAdsEnabled }}
				<div style="text-align: center; line-height: 1.3em; font-size: 13px;">
					The uploader of this file disabled advertisements. You can do the same for <a href="/#pro">only €2 per month</a>!
				</div>
				{{end}}
			</div>
		</div>

		<template id="tpl_details_popup">
			<table class="info_file_details" style="min-width: 100%;"></table>

			<div class="info_about">
				<h3>Downloads</h3>
				<div class="chart-container" style="position: relative; width: 100%; height: 150px;">
					<canvas id="downloads_chart"></canvas>
				</div>
				<h3>Views</h3>
				<div class="chart-container" style="position: relative; width: 100%; height: 150px;">
					<canvas id="views_chart"></canvas>
				</div>
				<p style="text-align: center">
					Charts rendered by the amazing <a href="https://www.chartjs.org/" target="_blank">Chart.js</a>.
				</p>

				<h3>About</h3>
				Pixeldrain is a file sharing platform.
				<a href="/" target="_blank">Visit the home page for more information.</a>

				<h3>Keyboard Controls</h3>
				<table style="max-width: 100%;">
					<tr><td colspan="2">File Shortcuts</td></tr>
					<tr><td>c</td><td> = Copy URL of this page</td></tr>
					<tr><td>i</td><td> = Toggle details window (this window) (<b><u>i</u></b>nfo)</td></tr>
					<tr><td>s</td><td> = Download the file you are currently viewing (<b><u>s</u></b>ave)</td></tr>
					<tr><td>q</td><td> = Close the window (<b><u>q</u></b>uit)</td></tr>
					<tr><td colspan="2">List Shortcuts</td></tr>
					<tr><td>a or &#8592;</td><td> = View previous item in list</td></tr>
					<tr><td>d or &#8594;</td><td> = View next item in list</td></tr>
					<tr><td>r</td><td> = Toggle shuffle (<b><u>r</u></b>andom)</td></tr>
					<tr><td>SHIFT + s</td><td> = Download all the files in the list as a zip archive</td></tr>
				</table>
			</div>
		</template>

		<template id="tpl_edit_file">
			<div class="edit_file_notification" style="display: none;"></div>
			<h3>Rename</h3>
			<form class="edit_file_name_form" style="display: flex; width: 100%">
				<input class="edit_file_name_field" type="text" style="flex: 1 1 auto"/>
				<button class="edit_file_name_submit" role="submit" style="flex: 0 0 auto">
					<i class="icon">save</i> Save
				</button>
			</form>
			<h3>Delete</h3>
			<p>
				When you delete a file it cannot be recovered.
				Nobody will be able to download it and the link will
				stop working. The file will also disappear from any
				lists it's contained in.
			</p>
			<div style="text-align: center;">
				<button class="button_red btn_delete_file">
					<i class="icon small">delete</i> Delete this file
				</button>
			</div>
		</template>

		<template id="tpl_captcha_popup">
			<div class="captcha_text"></div>
			<br/>
			<div class="captcha_popup_captcha" style="text-align: center;"></div>
		</template>

		<template id="tpl_embed_popup">
			<p>
				You can embed pixeldrain's file viewer in your own web pages. We
				have created a special HTML code which renders a minimalistic
				version of the file viewer where the title bar is a bit thinner and
				the toolbar is collapsed by default.
			</p>
			<p>
				Unless it was uploaded using a pixeldrain Pro account the embedded
				file will also show advertisements.
			</p>
			<h3>Code</h3>
			<textarea class="embed_html_code" style="width: 100%; height: 4em; margin: 0;"></textarea>
			<br/>
			<button class="embed_copy_html"><i class="icon">content_copy</i> Copy HTML</button>
			<button class="embed_show_preview"><i class="icon">visibility</i> Show example</button>
			<h3>Example</h3>
			<div class="embed_preview_area" style="text-align: center;"></div>
		</template>

		<script src="/res/script/Chart.min.js"></script>
		<script>
			'use strict';
			let apiEndpoint = '{{.APIEndpoint}}';
			let captchaKey = '{{.Other.CaptchaKey}}';
			let embeddedViewer = {{.Other.Embedded}};
			let userAuthenticated = {{.Authenticated}};
			let highlightColor = '#{{.Style.HighlightColor.RGB}}';
			{{template `util.js`}}
			{{template `drawGraph.js`}}
			{{template `Modal.js`}}
			{{template `Toolbar.js`}}
			{{template `EditWindow.js`}}
			{{template `EmbedWindow.js`}}
			{{template `DetailsWindow.js`}}
			{{template `ListNavigator.js`}}
			{{template `Viewer.js`}}

			{{template `AbuseViewer.js`}}
			{{template `ImageViewer.js`}}
			{{template `VideoViewer.js`}}
			{{template `AudioViewer.js`}}
			{{template `PDFViewer.js`}}
			{{template `TextViewer.js`}}
			{{template `FileViewer.js`}}

			// DOMContentLoaded fires when the DOM tree has been parsed, but
			// before the assets have loaded
			window.addEventListener("DOMContentLoaded", () => {
				// This info gets filled in on the server side to prevent having to
				// make an API call right after the page loads. Just to slice
				// another few milliseconds from the load time :)
				new Viewer('{{.Other.Type}}', '{{.Other.ViewToken}}', {{.Other.APIResponse}})
			})
		</script>

		{{template "analytics"}}

		{{ if and .Other.FileAdsEnabled .Other.UserAdsEnabled }}
			{{ if eq .Other.AdType 5 }}
			<!-- AdMaven -->
			<script data-cfasync="false" async src="//d227cncaprzd7y.cloudfront.net/?acncd=905608"></script>
			{{ else if or (eq .Other.AdType 7) (eq .Other.AdType 8) (eq .Other.AdType 9) (eq .Other.AdType 10) (eq .Other.AdType 11) }}
			<!-- PropellerAds -->
			<script>
			// Load fires when the page is completely finished loading,
			// including assets
			window.addEventListener("load", () => {
				(function(d,z,s){
					s.src='//'+d+'/400/'+z
					try{(document.body||document.documentElement).appendChild(s)}catch(e){}
				})('in-page-push.com',3724132,document.createElement('script'))
			})
			</script>
			{{ end }}
		{{ end }}
	</body>
</html>
{{end}}
