{{define "file_info_popup"}}
<h3>About</h3>
PixelDrain is a file sharing platform. 
<a href="/" target="_blank">Visit the main site for more information.</a>

<h3>Keyboard Controls</h3>
<table>
	<tr><td colspan="2">File Shortcuts</td></tr>
	<tr><td>c</td><td> = Copy URL of this page</td></tr>
	<tr><td>i</td><td> = Toggle details window (this window)</td></tr>
	<tr><td>s</td><td> = Download the file you are currently viewing</td></tr>
	<tr><td colspan="2">List Shortcuts</td></tr>
	<tr><td>a or &#8592;</td><td> = View previous item in list</td></tr>
	<tr><td>d or &#8594;</td><td> = View next item in list</td></tr>
	<tr><td>r</td><td> = Toggle shuffle (<b><u>r</u></b>andom)</td></tr>
	<tr><td>SHIFT + s</td><td> = Download all the files in the list as a zip archive</td></tr>
</table>

<h3>Credits</h3>
All server side code written by 
<a target="_blank" href="https://fornaxian.com/">Fornax (me)</a>.

<br/><br/>

Code syntax highlighting is by 
<a target="_blank" href="https://github.com/google/code-prettify">
	Google Code-prettify
</a>.

<br/><br/>

Thanks to the Mozilla team for their wonderful PDF viewer 
<a target="_blank" href="https://github.com/mozilla/pdf.js">pdf.js</a>.

<br/><br/>
{{end}}