{{define "home"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" "Free file sharing service"}}
		{{template "user_style" .}}
		<style>
		.instruction_highlight {
			border-top: 1px solid var(--layer_2_color_border);
			border-bottom: 1px solid var(--layer_2_color_border);
			box-sizing: border-box;
			margin: 10px 0;
			padding: 5px;
		}
		.big_number {
			font-size: 24px;
			font-weight: bold;
			text-align: center;
			display: block;
			box-sizing: border-box;
			background-color: var(--highlight_color);
			color: var(--highlight_text_color);
			border-radius: 30px;
			padding: 5px;
			margin-right: 10px;
			width: 34px;
			height: 34px;
			float: left;
		}
		.instruction_text {
			margin: 5px;
			font-size: 24px;
			display: block;
			box-sizing: border-box;
		}
		.social_button {
			margin: 5px;
		}
		.social_button > img, .social_button > svg {
			width: 40px;
			height: 40px;
			margin: 5px 15px;
		}
		</style>
	</head>
	<body>
		{{template "page_top" .}}

		<img id="header_image" class="header_image" src="/res/img/header_2019.png" alt="Header image"/>
		<br/>
		<div class="page_content">
			<h1>How to share files with pixeldrain</h1>
			<div id="instruction_1" class="instruction_highlight"><div class="limit_width">
				<span class="big_number">1</span><span class="instruction_text">Select files to upload</span>
				You can also drop files anywhere on this page from your file
				manager
			</div></div>
			<input id="file_input_field" type="file" name="file" multiple="multiple"/>
			<button id="upload_file_button" class="big_button button_highlight"><u>U</u>pload Files</button>
			<button id="upload_text_button" class="big_button button_highlight">Upload <u>T</u>ext</button>
			<br/>
			<p>
				By uploading files to pixeldrain you accept that a cookie will
				be placed in your web browser. More information on the
				<a href="/about">about</a> page
			<p>
			<div id="instruction_2" class="instruction_highlight">
				<div class="limit_width">
					<span class="big_number">2</span><span class="instruction_text">Wait for the files to finish uploading</span>
				</div>
			</div>
			<div id="uploads_queue"></div>

			<div id="instruction_3" class="instruction_highlight">
				<div class="limit_width"><span class="big_number">3</span><span class="instruction_text">Share the files</span></div>
			</div>
			<div id="instruction_3_after" style="display: none">
				<div id="navigator_share_button" style="display: inline-block">
					<button id="btn_social_share" class="social_button">
						{{template `share.svg` .}}<br/>Share
					</button>
				</div>
				<button id="btn_copy_link" class="social_button" style="display: inline-block">
					{{template `copy.svg` .}}<br/><span><u>C</u>opy link</span>
				</button>
				<button id="btn_open_link" class="social_button" style="display: inline-block">
					{{template `open_in_new.svg` .}}<br/><span>Open link</span>
				</button>
				<div id="social_buttons" style="display: inline-block">
					<button id="btn_social_email" class="social_button">
						{{template `email.svg` .}}<br/>E-Mail
					</button>
					<button id="btn_social_twitter" class="social_button">
						{{template `twitter.svg` .}}<br/>Twitter
					</button>
					<button id="btn_social_facebook" class="social_button">
						{{template `facebook.svg` .}}<br/>Facebook
					</button>
					<button id="btn_social_reddit" class="social_button">
						{{template `reddit.svg` .}}<br/>Reddit
					</button>
					<button id="btc_social_tumblr" class="social_button">
						{{template `tumblr.svg` .}}<br/>Tumblr
					</button>
				</div>
				<br/>
				<button id="btn_create_list">Create list with uploaded files</button>
				<button id="btn_copy_links">Copy all links to clipboard</button>
				<button id="btn_copy_markdown">Copy markdown to clipboard</button>
				<button id="btn_copy_bbcode">Copy BBCode to clipboard</button>
				<br/>
				<div id="created_lists"></div>
			</div>

			<br/>
			<div class="limit_width">
				<h2>What is pixeldrain?</h2>
				<p>
					Pixeldrain is a file sharing website built for speed and
					ease of use. Pixeldrain does not cost any money, though
					donations are appreciated. For donation methods see the
					<a href="/about">about</a> page.
				</p>
				<h2>How to use pixeldrain</h2>
				<p>
					Files can be uploaded by clicking the big green upload
					button, or by dragging them onto this page from your file
					manager. You can not upload directories at this time, only
					files. The maximum file size you can upload is 10 GB.
				</p>
				<p>
					You can also create lists, which are a collection of files.
					Like a photo album, a music record or a video compilation.
					To do this you need to upload a bunch of files at once. The
					files will be saved in the order you upload them in. When
					all files have finished uploading you click the "Create list
					with uploaded files" button and you will be asked to enter a
					name for your list. After picking a name the list will be
					created and opened in a new window. If your browser blocks
					the window you can also find a link to the list at the
					bottom of your uploaded files.
				</p>
				<p>
					For more information see the <a href="/about">about</a>
					page.
				</p>
			</div>
		</div>

		{{template "page_bottom"}}

		<script>
			'use strict';
			let apiEndpoint = '{{.APIEndpoint}}';
			{{template "util.js"}}
			{{template "UploadManager.js"}}
			{{template "homepage.js"}}
		</script>

		{{template "analytics"}}
	</body>
</html>
{{end}}
