{{define "home"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" "Free file sharing service"}}

		<style>
		/* Override the default background with something spectacular */
		header, footer, .checkers {
			background-image: url("/res/img/nebula.webp");
			background-color: var(--background_color);
			background-blend-mode: luminosity;
			color: #ffffff;
			box-shadow: inset 0 0 2px 0 var(--shadow_color);
			border: none;
		}
		</style>

		<script>
			window.api_endpoint = '{{.APIEndpoint}}';
			window.user = {{.User}};
			window.server_hostname = "{{.Hostname}}";
		</script>
		<link rel='stylesheet' href='/res/svelte/home_page.css?v{{cacheID}}'>
		<script defer src='/res/svelte/home_page.js?v{{cacheID}}'></script>
	</head>
	<body>
		{{template "menu" .}}
		<div id="page_body" class="page_body"></div>
		{{template "analytics"}}
	</body>
</html>
{{end}}
