{{define "paste"}}
<!DOCTYPE html>
<html>
	<head>
		{{template "meta_tags" "Text Upload"}}
		{{template "user_style" .}}
		<link rel="stylesheet" href="/res/style/viewer.css"/>
		<script src="/res/script/jquery-2.1.4.min.js"></script>
		<style>
			.textarea{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				border: none !important;
				background: var(--accent_color_dark);
			}
		</style>
	</head>

	<body>
		<div id="filepreview">
			<textarea id="textarea" class="textarea" placeholder="Your text here..." autofocus="autofocus"></textarea>
		</div>
		<div id="toolbar">
			<!-- Ugly workaround to get rid of the scrollbar in non-webkit browsers -->
			<div>
				<div>
					<button class="toolbar_button button_full_width" onClick="uploadText();">
						<img src="/res/img/upload_small.png" alt="Start Upload"/>
						<span>Upload</span>
					</button>
						<a href="/" class="button toolbar_button button_full_width">
							<img src="/res/img/pixeldrain_small.png" alt="Visit the home page" style="width:22px; height: 22px;"/>
							<span>Home</span>
						</a>
					</form>
					<iframe id='sponsors' data-aa='73974'
						src='//ad.a-ads.com/73974?size=120x600&amp;background_color=000000&amp;text_color=eeeeee&amp;title_color=eeeeee&amp;link_color=9fcf6c&amp;link_hover_color=d2ffa1&amp;title_hover_color=d2ffa1'
						scrolling='no' allowtransparency='true' seamless="seamless">
					</iframe>

				</div>
			</div>
		</div>

		<script src="/res/script/compiled/textupload.js"></script>
		{{template "analytics"}}
	</body>
</html>
{{end}}
