{{define "speedtest"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" "Speedtest"}}

		<script>
			window.api_endpoint = '{{.APIEndpoint}}';
			window.user = {{.User}};
			window.server_hostname = "{{.Hostname}}";
		</script>
		<link rel='stylesheet' href='/res/svelte/speedtest.css?v{{cacheID}}'>
		<script defer src='/res/svelte/speedtest.js?v{{cacheID}}'></script>
	</head>
	<body>
		{{template "menu" .}}
		<div id="page_body" class="page_body"></div>
		{{template "analytics"}}
	</body>
</html>
{{end}}
