{{define "user_home"}}<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta_tags" .User.Username }}
		{{template "user_style" . }}
		{{template "user_style_js" . }}

		<script>
		window.api_endpoint = '{{.APIEndpoint}}';
		window.user = {{.User}};
		</script>
		<link rel='stylesheet' href='/res/svelte/user_home.css?v{{.CacheID}}'>
		<script defer src='/res/svelte/user_home.js?v{{.CacheID}}'></script>
	</head>

	<body>
		{{template "page_top" .}}

		<h1>Welcome home, {{.User.Username}}!</h1>

		<div id="page_content" class="page_content"></div>

		{{template "page_bottom" .}}
		{{template "analytics"}}
	</body>
</html>
{{end}}
