{{define "advertisement"}}
<br/><hr/>
<div id="brave_ref" style="text-align: center; padding: 2px;">
	{{if ne (isBrave .UserAgent) true}}
	Use the Brave web browser for a faster and safer web!<br/>
	<a href="https://brave.com/pix009" id="btnBrave" class="button toolbar_button button_full_width button_highlight">
		<img src="{{template `brave_lion.png`}}" alt="Brave lion"/>
		<span>Get Brave</span>
	</a>
	<br/>
	or <a href="https://medium.com/pixeldrain/advertising-on-pixeldrain-a-more-honest-approach-d5e00e3f0c29">learn why pixeldrain supports Brave</a>
	{{else}}
	Thank you for using Brave! Please consider supporting pixeldrain with a tip
	<img src="{{template `bat_logo_color.png`}}" style="height: 1em; width: 1em;" />
	{{end}}
</div>
<br/>
{{end}}
