{{define "analytics"}}{{if not debugMode}}
<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
	(function(f, a, t, h, o, m){
		a[h]=a[h]||function(){
			(a[h].q=a[h].q||[]).push(arguments)
		};
		o=f.createElement('script'),
		m=f.getElementsByTagName('script')[0];
		o.async=1; o.src=t; o.id='fathom-script';
		m.parentNode.insertBefore(o,m)
	})(document, window, '//fathom.pixeldrain.com/tracker.js', 'fathom');
	fathom('set', 'siteId', 'AWHYP');
	fathom('trackPageview');
</script>
<!-- / Fathom -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24463738-4"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-24463738-4');
</script>

{{end}}{{end}}
