{{define "menu"}}
<div id="navigation" class="highlight_light border_top border_bottom navigation">
	<a href="/">Home</a>
	<a href="{{if .Authenticated}}/user/files{{else}}/history{{end}}">My&nbsp;Files</a>
	<a href="/api">API</a>
	{{if .Authenticated}}<a href="/user">{{.Username}}</a>
	<a href="/logout" style="vertical-align: 0.6em; font-size: 0.9em; padding: 1px;">(Log out)</a>{{else}}
	<a href="/login">Login</a>
	<a href="/register">Register</a>
	{{end}}
	<a href="javascript:void(0);" class="icon" onclick="expandNavigation()">&#9776;</a>
	<script>
	function expandNavigation() {
		var x = document.getElementById("navigation");
		if (!x.className.includes("responsive")) {
			x.className += " responsive";
		} else {
			x.className = x.className.replace(" responsive", "");
		}
	}
	</script>
</div>
{{end}}
