{{define "meta_tags"}}
<title>{{.}} ~ PixelDrain</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<link rel="shortcut icon" href="/res/img/tray32.png" />
<meta name="theme-color" content="#75AD38" />
<link rel="icon" sizes="180x180" href="/res/img/pixeldrain.png" />
<link rel="icon" sizes="256x256" href="/res/img/pixeldrain_big.png" />

<meta name="description" content="Pixeldrain is a free file sharing service, you
can upload any file and you will be given a shareable link right away.
pixeldrain also supports previews for images, videos, audio, PDFs and much more." />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{.}} ~ pixeldrain" />
<meta property="og:site_name" content="pixeldrain" />
<meta property="og:description" content="Instant file and screenshot sharing." />
<meta property="og:url" content="http://pixeldrain.com/" />
<meta property="og:image" content="/res/img/pixeldrain_big.png" />
<meta property="og:image:type" content="image/png" />
{{end}}
