{{define "user_style"}}
<style>
{{.UserStyle}}
{{template "layout.css" .}}
</style>
{{end}}

{{ define "user_style_js" }}
<script>
	window.style = {
		textColor: "{{.Style.Text.RGB}}",
		inputColor: "{{.Style.Input.RGB}}",
		inputTextColor: "{{.Style.InputText.RGB}}",
		highlightColor: "{{.Style.Highlight.RGB}}",
		dangerColor: "{{.Style.Danger.RGB}}",
		layer1Color: "{{.Style.Layer1.RGB}}",
		layer2Color: "{{.Style.Layer2.RGB}}",
		layer3Color: "{{.Style.Layer3.RGB}}",
		layer4Color: "{{.Style.Layer4.RGB}}",
	}
</script>
{{ end }}
