/* 
    Created on : Feb 19, 2017, 11:21:45 AM
    Author     : Fornax <fornax@pixeldrain.com>
*/

/* Global Definitions */
.api_doc_details{
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin-top: 10px;
	margin: 15px -8px 15px -8px;
}
.api_doc_details > summary {
	padding: 2px;
	font-family: monospace;
}
.api_doc_details > summary > .method {
	display: inline-block;
	width: 80px;
}
.api_doc_details > div {
	padding: 8px;
}

table{
	border-collapse: collapse;
	width: 100%;
}

tr{
	border-bottom: 1px #333 solid;
}

tr > td {
	padding: 6px;
}

pre{
	padding: 2px;
	border-bottom: 1px #333 solid;
	overflow-x: scroll;
}

h3{
	border-bottom: 1px #777 solid;
}

/* GET requests */
.api_doc_details.request_get{
	border-color: rgb(54, 54, 255);
	background-color: rgba(32, 32, 255, 0.2);
}

/* POST requests */
.api_doc_details.request_post{
	border-color: #00d000;
	background-color: rgba(0, 255, 0, 0.05);
}

/* DELETE requests */
.api_doc_details.request_delete{
	border-color: #B00000;
	background-color: rgba(255, 0, 0, 0.05);
}

/* PUT requests */
.api_doc_details.request_put{
	border-color: #B06000;
	background-color: rgba(255, 128, 0, 0.05);
}

/* PATCH requests */
.api_doc_details.request_patch{
	border-color: #6000B0;
	background-color: rgba(128, 0, 255, 0.1);
}