/*
    Created on : Jun 3, 2015, 9:33:11 AM
    Author     : Fornax
*/

:root {
	--highlight_border: inset 0px 0px 5px 1px var(--highlight_color), 0px 0px 1px 0px var(--highlight_color);
}

html{height: 100%;}

body{
	background-color: var(--background_color);
	background-repeat: repeat;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	text-align: center; /* Center the header and body */
	line-height: 1.5em;
	height: 100%;
	overflow-x: hidden;
	color: var(--text_color);
}

/* Page layout elements */

.header_image{
	width: 100%;
	max-width: 1000px;
	margin-top: 15px;
}

.body{
	position: relative;
	display: inline-block;
	max-width: 1000px;
	min-width: 300px;
	width: 100%;
	height: auto;
	padding: 0px 8px 0px 8px;
	box-sizing: border-box;
	background-color: var(--body_color);
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
	box-shadow: var(--shadow_color) 8px 8px var(--shadow_spread) var(--shadow_intensity);
	z-index: 1;
	word-break: break-word;
}

.navigation a {
	float: none;
	display: inline-block;
	color: var(--text_color);
	text-align: center;
	padding: 4px 6px;
	margin: 0 4px;
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-weight: bold;
	font-size: 26px;
}
.navigation a:hover {
	background: linear-gradient(var(--highlight_color), var(--highlight_color_dark));
	box-shadow: var(--highlight_border), 2px 2px 8px var(--shadow_color);
	color: var(--highlight_text_color);
	text-decoration: none;
}
.navigation .icon {
	display: none;
}
@media screen and (max-width: 500px) {
	.navigation a:not(:first-child) {display: none;}
	.navigation a.icon {
		float: right;
		display: block;
	}
	.navigation.responsive {position: relative;}
	.navigation.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navigation.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

.highlight_dark,
.highlight_middle,
.highlight_light,
.highlight_green,
.highlight_blue,
.highlight_red {
	position: relative;
	width: auto;
	height: auto;
	margin: 0 -8px 0 -8px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	padding: 4px 0px 4px 0px;
	z-index: 101;
}
.highlight_dark   {background-color: var(--accent_color_dark);   border-color: var(--accent_color_dark_border);   box-shadow: inset 1px 1px 12px -1px var(--shadow_color);}
.highlight_middle {background-color: var(--accent_color_medium); border-color: var(--accent_color_medium_border); box-shadow: inset 1px 1px 8px -1px var(--shadow_color);}
.highlight_light  {background-color: var(--accent_color_light);  border-color: var(--accent_color_light_border);  box-shadow: 1px 1px 4px var(--shadow_color);}
.highlight_green  {background-color: rgba(0, 255, 0, 0.05);  border-color: #00d000;}
.highlight_blue   {background-color: rgba(32, 32, 255, 0.2); border-color: rgb(54, 54, 255);}
.highlight_red    {background-color: rgba(255, 0, 0, 0.1);  border-color: #B00000;}

.border_top    {border-top-width:    1px; border-top-style:    solid;}
.border_bottom {border-bottom-width: 1px; border-bottom-style: solid;}

/* Common elements */

h1, h2, h3, h4, h5, h6 {line-height: 1em;}
h3{border-bottom: 1px var(--accent_color_light_border) solid;} /* Differentiate it a bit, else it just looks like bold text */

hr{
	height: 8px;
	border: none;
	background: linear-gradient(var(--accent_color_dark), var(--accent_color_light));
	margin: 16px -8px 16px -8px;
}

::-webkit-scrollbar{
	width: 12px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {background: var(--accent_color_dark);}
::-webkit-scrollbar-thumb {background-color: var(--accent_color_light);}
::-webkit-scrollbar-corner{background: transparent;}

a       {color: var(--highlight_color); text-decoration: none;}
a:hover {color: var(--highlight_color); text-decoration: underline;}

.form{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	max-width: 35em;
}
table:not(.form) {border-collapse: collapse; width: 100%;}
tr:not(.form)    {border-bottom: 1px var(--accent_color_medium_border) solid;}
tr > td          {padding: 0.5em;}
@media(max-width: 28em) {
	tr > td {
		box-sizing: border-box;
		float: left;
		width: 100%;
		padding: 0.5em;
	}
}

pre{
	padding: 2px;
	border-bottom: 1px var(--accent_color_medium_border) solid;
	overflow-x: scroll;
}

.big_button{
	height: 40px;
	width: 40%;
	min-width: 200px;
	max-width: 400px;
	margin: 10px !important;
	border-radius: 10px;
	font-size: 30px;
	font-weight: normal;
	line-height: 8px;
}

.progress_bar{
	position: relative;
	width: 100%;
	height: 0;
	background-color: #555;
	overflow: hidden;
	color: #eeeeee;
	text-align: left;
	white-space: nowrap;
}
.progressbar_inner{
	position: absolute;
	top: 0;
	width: 0%;
	left: 0;
	height: 100%;
	background-color: var(--highlight_color);;
	overflow: hidden;
	color: #000;
	white-space: nowrap;
}
.progress_text{
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
}

.uploads_queue{
	position: relative;
	width: 100%;
	height: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

.file_button, .file_button:hover{
	position: relative;
	box-sizing: border-box;
	width: 310px;
	max-width: 90%;
	height: 60px;
	margin: 6px;
	padding: 0;
	overflow: hidden;
	box-shadow: 0px 0px 6px 2px var(--file_background_color);
	background-color: var(--file_background_color);
	color: var(--text_color);
	word-break: break-all;
	text-align: left;
	line-height: 120%;
	display: inline-block;
}
.file_button > img{
	max-height: 60px;
	max-width: 120px;
	margin-right: 5px;
	float: left;
	display: block;
}

/* Form fields */

.form_input {width: 100%;}

/* BUTTONS */
button,
.button,
input[type="submit"],
input[type="button"],
input[type="color"],
select{
	display: inline-block;
	box-sizing: border-box;
	border-radius: 4px;
	border: none;
	margin: 2px;
	background: linear-gradient(var(--input_color), var(--input_color_dark));
	padding: 6px 8px 6px 8px;
	box-shadow: 2px 2px 8px var(--shadow_color);
	font-weight: bold;
	font-size: 0.85em;
	line-height: 1;
	text-decoration: none;
	color: var(--input_text_color);
	outline: 0;
	vertical-align: middle;
	cursor: pointer;

}
button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="color"]:hover,
select:hover,
button:focus,
.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="color"]:focus,
select:focus{
	color: var(--input_text_color);
	text-decoration: none;
	box-shadow: var(--highlight_border), 2px 2px 8px var(--shadow_color);
}
button:active,
.button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="color"]:active,
select:active{
	background: linear-gradient(var(--input_color_dark), var(--input_color));
	box-shadow: inset 3px 3px 6px var(--shadow_color);
	padding: 8px 8px 4px 12px;
}
.button_full_width      {width: calc(100% - 4px);}
.button_highlight       {background: linear-gradient(var(--highlight_color),      var(--highlight_color_dark)) !important; color: var(--highlight_text_color) !important;}
.button_highlight:active{background: linear-gradient(var(--highlight_color_dark), var(--highlight_color)) !important;      color: var(--highlight_text_color) !important;}
.button_red             {background: linear-gradient(var(--danger_color),         var(--danger_color_dark)) !important;}
.button_red:active      {background: linear-gradient(var(--danger_color_dark),    var(--danger_color)) !important;}

/* Dropdown list of the select tag */
option{background-color: var(--input_color_dark); color: var(--text_color)}

/* TEXT FIELDS */
textarea,
.groove,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"]{
	border: none;
	box-sizing: border-box;
	border-radius: 4px;
	background: linear-gradient(var(--input_color_dark), var(--input_color));
	box-shadow: inset 3px 3px 6px var(--shadow_color);
	padding: 3px 5px;
	color: var(--input_text_color);
	height: 26px;
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	vertical-align: bottom;
	outline: 0;
}
textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="email"]:active,
input[type="number"]:active,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus{
	box-shadow: var(--highlight_border), inset 3px 3px 6px var(--shadow_color);
}

input[type=file]{
	visibility: hidden;
	position: static;
	width: 0;
	height: 0;
}
