/* 
    Created on : Jul 1, 2015, 8:02:38 PM
    Author     : Fornax
*/

.textarea{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: none !important;
	background: #202020;
}